CREATE TABLE public.app_users (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    full_name TEXT NOT NULL,
    phone TEXT NOT NULL UNIQUE,
    role TEXT DEFAULT 'user',
    password TEXT,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()) NOT NULL
);
ALTER TABLE public.app_users ENABLE ROW LEVEL SECURITY;
CREATE POLICY \
Allow
anon
read\ ON public.app_users FOR SELECT USING (true);
CREATE POLICY \Allow
anon
insert\ ON public.app_users FOR INSERT WITH CHECK (true);
CREATE POLICY \Allow
anon
update\ ON public.app_users FOR UPDATE USING (true);

